/* src/app/globals.css */

@import "tailwindcss";

body {
  background-color: #DADADA;
  color: white;
}

.chat-background {
  /* This path is now correct because it's relative to the `public` folder */
  background-image: url('/assets/images/chat_background.png');
  background-color: #E5DDD5;
}