/* src/app/globals.css */

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

body {
  background-color: #DADADA;
  color: white; /* This makes the default text color white */
}

.chat-background {
  background-image: url('../assets/images/chat_background.png');
  background-color: #E5DDD5;
}